:root {
  font-size: calc(0.7em + 1vw);
  box-sizing: border-box;

  --dark-vanila: #d4caa3;
  --dark-white: #f5f5dc;
  --black-primary: #202020;
  --black-secondary: #2c2c2c;
  --white-primary: #f8f8f8;
  --gray-primary: #d3d3d3;

  --blue-primary: #1c3d5a;
  --blue-secondary: #3b5c7d;

  --white-secondary: #d8d8d8;
}

@media (min-width: 30em) {
  :root {
    font-size: calc(0.7em + 1vw);
  }
}

@media (min-width: 40em) {
  :root {
    font-size: calc(0.37em + 1vw);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Noto Serif", serif;
  color: var(--white-primary);
  background-color: var(--black-primary);
  line-height: 1.4;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}
