@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

:root {
  font-size: calc(0.7em + 1vw);
  box-sizing: border-box;

  --black-primary: rgb(32, 32, 32);
  --black-secondary: rgb(44, 44, 44);

  --white-primary: rgb(248, 248, 248);
  --white-secondary: rgb(211, 211, 211);
  --dark-white: rgb(191, 191, 191);

  --gray-primary: rgb(61, 61, 61);

  --orange-primary: rgb(232, 112, 0);
  --orange-secondary: rgb(236, 94, 0);
  --palid-orange: hsl(29, 90%, 55%);

  --dark-blue: rgb(19, 19, 26);

}

@media (min-width: 30em) {
  :root {
    font-size: calc(0.65em + 1vw);
  }
}

@media (min-width: 1080px) {
  :root {
    font-size: 1.25rem;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
  color: var(--white-primary);
  background-color: var(--black-primary);
  line-height: 1.4;
  overflow-x: hidden;

}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}
